@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Plus Jakarta Sans";
  background-color: #f8f8f8;
  height: 100vh;
  width: 99%;
  overflow: hidden;
}
#template {
   height: calc(100% - 100px);
}

#template {
  height: calc(100% - 100px);
}